@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* *{
  padding: 0;
  margin: 0;
} для того чтобы распространялось на все элементы*/
body {
  background-color: #f1f1f1;
  color: #0f141e;

  font: normal 16px "Roboto", sans-serif;
  /* ТОЖЕ САМОЕ ЧТО СТРОЧКА ВЫШЕ font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;*/
}
/*    для class - .ava      для id - #id           */
a {
  color: black;
  text-decoration: none; /* чтобы ссылка была без подчеркивания*/
}
a:hover {
  text-decoration: underline;
}
a:active  {
  color: yellow;
}
a:visited {
  color: #02cfa3;
}

.ava {
  width: 200px;
  border-radius: 15px;

  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
  
}
.info p {
  color: #02cfa3;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: normal;

  word-spacing: normal;

}
.container {
  max-width: 800px;
  margin: auto;
  padding-top: 10px;
}
.bg-green {
  background: #02cfa3;
}
.bg-white {
  background: #8edbca;
}
.bg-silver {
  background: #c9d6d3;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px; /* расстояние внизу меж элементами */
  border-radius: 20px;
}
.info {
  margin-bottom: 20px;
}
.card {
  margin-bottom: 14px;
}
.list {
  /* свойства списка */
  padding: 0px 20px;
}
.list li {
 
  color: #494949;
  margin-bottom: 4px;
  border-bottom: 1px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  /* свойства порядкового элемента */
  color: rgb(148, 148, 148);
}
.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #02cfa3;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #a5a5a5;
  color: #000000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group {
  width: 50%;
}
.row > .form-group:first-child {
  margin-right: 20px;
}
.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}
.btn {
  background: #02cfa3;
  padding: 15px 20px;
  color: #f1f1f1;
  border: none;
  font-family: inherit;
  border-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

